<mat-card
  class="login-card mx-auto mat-elevation-z10"
  style="margin-top: 30vh;"
>
  <div style="margin-top: 20px; height: 90px; margin-bottom: -10px;">
    <mat-card-title
      ><p
        class="mat-h1"
        style="font-weight: bold; color:#6267af; font-size: larger;"
      >
        Forgot Password
      </p></mat-card-title
    >
  </div>
  <mat-card-content>
    <form #f="ngForm">
      <div *ngIf="page === 1">
        <mat-form-field appearance="outline" style="margin-top: 60px;">
          <mat-label>Username</mat-label>
          <input
            matInput
            autocomplete="off"
            [(ngModel)]="a.username"
            #username="ngModel"
            name="username"
            id="username"
            required
            transferUsername
          />
          <mat-error *ngIf="username.invalid">
            <div *ngIf="username.errors.required">Required</div>
            <div *ngIf="username.errors.transferUsername">Invalid username</div>
          </mat-error>
        </mat-form-field>

        <div>
          <button
            *ngIf="username.valid"
            class="nextbtn"
            mat-button
            id="btn"
            color="primary"
            style="margin-top: 20px; outline: none;"
            (click)="next1(username.value)"
          >
            Next
          </button>
        </div>
      </div>

      <div *ngIf="page === 2">
        <div *ngIf="error" class="alert">
          <span
            class="closebtn"
            onclick="this.parentElement.style.display='none';"
            >&times;</span
          >
          Wrong Answer
        </div>
        <mat-form-field appearance="outline" style="margin-top: 60px;">
          <mat-label>{{ sQ }}</mat-label>
          <input
            matInput
            autocomplete="off"
            [(ngModel)]="a.securityQuestion"
            #securityQuestion="ngModel"
            name="securityQuestion"
            required
          />
          <mat-error *ngIf="securityQuestion.invalid">Required</mat-error>
        </mat-form-field>

        <div>
          <button
            class="nextbtn"
            mat-button
            id="btn"
            color="primary"
            style="margin-top: 20px; outline: none;"
            (click)="next2(securityQuestion.value)"
            [disabled]="securityQuestion.invalid"
          >
            Next
          </button>
        </div>
      </div>

      <div *ngIf="page === 3">
        <mat-form-field appearance="outline" style="margin-top: 40px; margin-left: 33px;">
          <mat-label>New password</mat-label>
          <input
            matInput
            [type]="hide2 ? 'password' : 'text'"
            [(ngModel)]="a.newpassword"
            #newpassword="ngModel"
            name="newpassword"
            required
            minlength="6"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="newpassword.invalid">
            <div *ngIf="newpassword.errors.required">Required</div>
            <div *ngIf="newpassword.errors.minlength">
              Minimum 6 characters
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="margin-left: 33px;">
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            [type]="hide3 ? 'password' : 'text'"
            [(ngModel)]="a.confpassword"
            #confpassword="ngModel"
            name="confpassword"
            required
            minlength="6"
            compare="newpassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide3 = !hide3"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="confpassword.invalid">
            <div *ngIf="confpassword.errors.required">Required</div>
            <div *ngIf="confpassword.errors.minlength">
              Minimum 6 characters
            </div>
            <div *ngIf="confpassword.errors.compare">
              Passwords don't match
            </div>
          </mat-error>
        </mat-form-field>


        <button
          mat-button
          color="primary"
          [disabled]="newpassword.invalid || confpassword.invalid"
          style="margin-right: 35px; float: right;"
          (click)="submit(newpassword.value)"
        >
          Submit
        </button>
      </div>

      
        <div *ngIf="success" class="alert success">
          <p>Password Reset Successfull </p>
          <br>
          <p>You can login now</p>
          <p></p>
        </div>
     
    </form>
  </mat-card-content>
</mat-card>

<div class="mx-auto" style="width: 400px;">
  <button
    mat-button
    color="primary"
    type="button"
    routerLink="/login"
    style="
  margin-top:30px;
  outline: none;"
  >
    Back to Login
  </button>
</div>
